bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.VkApi/.idea/
/TestConsole/TestConsole.csproj
/TestConsole/
/AuthorizationTests/UserDataMock.cs
/VkApi.sln.DotSettings.user
/CoreTests/UserDataMock.cs
/.vs/VkApi/DesignTimeBuild/
/.vs/VkApi/v16/TestStore/0/
/.vs/VkApi/v16/.suo
